<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Chùa Bảo Phước</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles/base.css">
        <script src="static/scripts/jquery.js"></script>
        <script src="static/scripts/base.js"></script>
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="static/scripts/share.js"></script>
        <script type="text/javascript">stLight.options({publisher: "19d99acc-5af4-4058-ba0a-b19e2b7e6137", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="left-column"></div>
        <!-- CONTAINER -->
        <div id="container">
            <!-- BANNER -->
            <div id="banner"><h1></h1></div>
        
            <!-- MAIN NAVIGATOR -->
            <div id="nav">
                <ul>
                    <li><a href="/trangchu/">TRANG CHỦ</a></li>
                    <li><a href="/thongtin/">THÔNG TIN</a></li>
                    <li><a href="#">PHẬT PHÁP</a></li>
                    <li><a href="#">THƯ VIỆN</a></li>
                    <li><a href="#">LIÊN KẾT</a></li>
                </ul>
            </div> <!-- end #nav -->
            
            <div id="primary">
            <!-- sidebar -->
            {% block head %}{% endblock %}
            
            <!-- every content will be in here -->
            {% block body_block %}{% endblock %}
            
            <div class="share"><span class="share-text">Share:</span>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_tumblr_large' displayText='Tumblr'></span>
                <span class='st_wordpress_large' displayText='WordPress'></span>
                <span class='st_digg_large' displayText='Digg'></span>
                <span class='st_google_translate_large' displayText='Google Translate'></span>
                <span class='st_email_large' displayText='Email'></span>
            </div>
            </div><!-- end #primary -->
            <div id="footer"><p>Copyright &copy; by Bao Phuoc Temple - 2014</p></div>
        </div> <!-- end #container -->
        <div id="right-column"></div>
    </body>
</html>
