<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Chùa Bảo Phước</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles/base.css">
        <script src="static/scripts/jquery.js"></script>
        <script src="static/scripts/base.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="left-column"></div>
        <!-- CONTAINER -->
        <div id="container">
            <!-- BANNER -->
            <div id="banner"><h1></h1></div>
        
            <!-- MAIN NAVIGATOR -->
            <div id="nav">
                <ul>
                    <li><a href="/trangchu/">TRANG CHỦ</a></li>
                    <li><a href="/thongtin/">THÔNG TIN</a></li>
                    <li><a href="#">PHẬT PHÁP</a></li>
                    <li><a href="#">THƯ VIỆN</a></li>
                    <li><a href="#">LIÊN KẾT</a></li>
                </ul>
            </div> <!-- end #nav -->
            
            <div id="primary">
            <!-- sidebar -->
            {% block head %}{% endblock %}
            
            <!-- every content will be in here -->
            {% block body_block %}{% endblock %}
            </div><!-- end #primary -->
            <div id="footer">
                <div class="footer-content">
                    <div class="contact">
                        <div  class="contact-header"><h3><img src="media/images/wheel_3.png" class="header-icon"/>Liên Lạc</h3></div>
                        <hr class="seperator">
                        <ul>
                            <li><strong>Chùa Bảo Phước</strong></li>
                            <li>270 Senter Road</li>
                            <li>San Jose, CA 95111</li>
                            <li>United States <a href="https://maps.google.com/?q=270%20Senter%20Road,%20San%20Jose,%20California,%2095111" target="_blank"><span class="direction">[Get Direction]</span></a></li>
                            <li>Tel: (408) 365-1228</li>
                            <li>Homepage: <a href="www.baophuoc.org">www.baophuoc.org</a></li>
                        </ul>
                    </div><!-- end .contact -->
                </div> <!-- end .footer-content -->
                <div class="copyright"><p></p></div>
            </div>
        </div> <!-- end #container -->
        <div id="right-column"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                var currentYear = (new Date).getFullYear();
                var copyright = '&copy; '+currentYear+' Chùa Bảo Phước - Designed by DTT';
                $('.copyright p').html(copyright); 
            });
        </script>
    </body>
</html>
