{% extends 'thongtin/thongtin_base.html' %}
{% block title %}Giới Thiệu{% endblock %}
{% block body_block %}
<!--{% if gioithieu %}-->
<div id="main-content">   
    <div class="content-header"><h3><img src="media/images/wheel_3.png" class="header-icon"/>Giới Thiệu</h3></div>
    <h3 class="content-title"><img src="media/images/lotus_2.png" class="content-title-icon"/>{{ gioithieu.title }}</h3>
    <hr class="seperator">
    <div class="content">{{ gioithieu.content|safe }}</div>
    <hr class="seperator">
    {% include './share_small_btn.html' %}
</div>
<!--{% endif %}-->
{% endblock %}