{% extends 'base.html' %}
{% block title %}Thông tin{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="static/styles/thongtin/thongtin-sidebar.css">
<link rel="stylesheet" href="static/styles/thongtin/thongtin.css">
{% endblock %}
{% block head %}
<div id="left-sidebar">
    <h3 id="sidebar-header">Thông Tin</h3>
    <ul>
        <li><a href="#">Tiểu Sử</a></li>
        <li><a href="#">Tôn Chỉ</a></li>
        <li><a href="#">Thông Báo</a></li>
        <li><a href="#">Lịch Sinh Hoạt</a></li>
        <li><a href="#">Liên Lạc</a></li>
    </ul>
</div> <!-- end #left-side -->
{% endblock %}

{% block body_block %}
{% endblock %}