/* thongtin-sidebar.css */
#left-sidebar {
    background-color: #FFCC33;
    border: 1px solid #DD8000;
    float: left;
    width: 200px;
}

#left-sidebar h3#sidebar-header {
    background: url("../../media/images/nav_background.png") repeat-x;
    /*background-color: #FFA630; */
    color: #EC4100;
    text-align: center;
    text-shadow: 1px 1px #000000;
    padding: 10px 0;
}

#left-sidebar ul {
    list-style-type: none;
    text-align: center;
}

#left-sidebar ul li {
    padding: 10px 0;
}

#left-sidebar ul li:not(:last-child) {
    border-bottom: 1px solid #DD8000;;
}

#left-sidebar ul li a, #main-menu li ul.sub-menu li a  {
    color: #FF4300;
    font-weight: bold;
    text-decoration: none;
}

#left-sidebar ul li:hover {
    background-color: #FFC106;
}

#left-sidebar ul li:hover a {
    color: #B73200;
    text-decoration: underline;
}

/* Vertical Dropdown menu */
#main-menu li {
    position: relative;
}

#main-menu li .sub-menu {
    background-color: #FFCC33;
    border: 1px solid #DD8000;
    position: absolute;
    display: none;
}

#main-menu li:hover .sub-menu {
    width: 100%;
    position: absolute;
    display: block;
    left: 200px;
    top: -1px;
}

#main-menu li:hover ul.sub-menu li:hover a {
    color: #B73200;
    text-decoration: underline;
}