#main-content {
    background-color: #FFFAE8;
    float: right;
    width: 778px;
    padding: 0 10px;
}

.content-header {
    background: url("../../media/images/nav_background.png") repeat-x;
    border-bottom: 1px solid #DD8000;
    height: 43px;
    width: 798px;
    margin-left: -10px;
}

.seperator {
    background-color: #FFC71C;
    border: 0;
    height: 1px; width: 600px;
    margin: 0 auto;
}


.content-header h3 {
    color: #EC4100;
    font-size: 15pt;
    padding: 8px;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

h3.content-title {
    font-family: serif;
    font-size: 20pt;
    padding: 10px;
}

.content-title-icon {
    height: 36px; width: 50px;
    margin-bottom: -5px;
}

.content {
    padding: 15px;
}

.content ul {
    padding: 10px;
}

.content ul li {
    padding: 10px 0;
    margin-left: 40px;
}