/* base.css */
/* Copyright 2014 by DTT - Bao Phuoc Temple */
/* reset */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFE9A6;
}

div#container {
    margin: 0 auto;
    width: 1000px;
}

div#banner h1 {
    background: url("../../media/images/baophuoc_banner.png") no-repeat;
    text-indent: -9999px;
    height: 200px;
    width: 1000px;
}

div#nav {
    background-color: #ffcc33;
    border-top: 2px solid #DD8000;
    height: 50px;
    width: 1000px;
}

div#nav ul {
    list-style-type: none;
    text-align: center;
    padding: 15px 0;
}

div#nav ul li {
    display: inline;
    padding: 6px 15px 6px 15px;
    margin: 0 -5px 0 -5px;
}

div#nav ul li:not(:last-child) {
    border-right: 2px solid #DD8000;
}

div#nav ul li a {
    color: #FF4300;
    font-weight: bold;
    text-decoration: none;
}

div#nav ul li:hover {
    background-color: #FFC106;
    border: 2px solid #DD8000; 
    padding: 15.5px 15px 13.5px 13px;
}

div#nav ul li:hover:last-child {
    padding-left: 13px;
    padding-right: 13px;
}

div#nav ul li:hover a {
    color: #B73200;
    text-decoration: underline;
}

