/* base.css */
/* Copyright 2014 by DTT - Bao Phuoc Temple */
/* reset */
@import url('navigation.css');
@import url('sidebar.css');
@import url('content.css');
@import url('index_page.css');
@import url('gallery.css');
@import url('home.css');
@import url('thongtin.css');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FCFCFC;
    color: #1A1A1A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

a {
    color: #1A1A1A;
    text-decoration: none;
}

a:hover {
    color: #DF0E0E;
    text-decoration: underline;
}

li.bullet {
    background: url("../../media/images/bullet.png") no-repeat 7px;
    background-size: 12px 12px;
    display: block;
}

#container {
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    margin: 0 auto;
    padding: 1px;
    width: 1000px;
}

#banner h1 {
    background: url("../../media/images/baophuoc_banner_3.png") no-repeat;
    border-radius: 5px;
    text-indent: -9999px;
    height: 150px;
    width: 1000px;
}

#primary {
    margin-top: 1px;
}

.header-icon {
    height: 14px; width: 14px;
    padding: 0 3px;
}

#footer {
    border-radius: 5px;
    clear: both;
    margin-top: auto;
    padding-top: 1px;
}

#footer .footer-content {
    background: url("../../media/images/baophuoc_footer.png") repeat-x;
    border-top: 1px solid #DD8000; 
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 154px;
    width: 1000px;
}

.contact {
    border-right: 1px dotted #DFA800;
    border-top-left-radius: 5px;
    width: 230px;
    float: left;
}

.contact .contact-header {
    background: url("../../media/images/nav_background.png") repeat-x;
    border-bottom: 1px solid #DD8000; 
    border-top-left-radius: 5px;
    text-align: center;
    height: 43px; width: 230px;
}

.contact .contact-header h3,
.google-navigation-header h3 {
    color: #EC4100;
    font-size: 15pt;
    padding: 8px;
    text-shadow: 1px 1px #000000;
}

.contact ul {
    font-size: 10pt;
    list-style-type: none;
    padding: 3px 20px;
    margin-left: 5px;
}

.contact ul li a {
    color: #B72D00;
    text-decoration: none;
}

.contact ul li a:hover {
    color: #EC4100;
    text-decoration: underline;
}

.direction {
    font-size: 7pt;
    font-weight: bold;
}

.google-navigation {
    border-right: 1px dotted #DFA800;
    float: left;
    height: 154px;
    width: 300px;
}

.google-navigation-header {
    background: url("../../media/images/nav_background.png") repeat-x;
    border-bottom: 1px solid #DD8000; 
    text-align: center;
    height: 43px; width: 300px;
}

.google-navigation table {
    margin-top: 10px;
    margin-left: 25px;
}

.google-navigation-form td {
    border: none;
    padding: 2px;
}

.google-navigation-form-header {
    font-size: 10pt;
    font-weight: bold;
}

.google-navigation-input {
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 5px;
    height: 15px;
    width: 230px;
}

.google-navigation-submit {
    float: right;
    padding: 5px;
}

.footer-menu {
    float: left;
    font-size: 9pt;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 30px;
}

.footer-menu ul li {
    padding: 0 0 5px 0;
    margin-left: 5px;
}

.footer-menu ul li a {
    color: #A93602;
    margin-left: -5px;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

#footer .copyright {
    background: url("../../media/images/nav_background.png") repeat-x;
    border-top: 2px solid #DD8000; 
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 10pt;
    padding: 10px;
    text-align: center;
}