/* base.css */
/* Copyright 2014 by DTT - Bao Phuoc Temple */
/* reset */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFE9A6;
    color: #A42D00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

#container {
    margin: 0 auto;
    width: 1000px;
}

#banner h1 {
    background: url("../../media/images/baophuoc_banner_2.png") no-repeat;
    text-indent: -9999px;
    height: 150px;
    width: 1000px;
}

#nav {
    background: url("../../media/images/nav_background.png") repeat-x;
    /*background-color: #FFA230;*/
    border-top: 2px solid #DD8000;
    border-bottom: 2px solid #DD8000;
    height: 48px;
    width: 1000px;
}

#nav ul {
    list-style-type: none;
    text-align: center;
    padding: 15px 0;
}

#nav ul li {
    display: inline;
    padding: 5px 15px 6px 15px;
    margin: 0 -5px 0 -5px;
}
/*
#nav ul li:not(:last-child) {
    border-right: 2px solid #DD8000;
}
*/
#nav ul li a {
    color: #FF4300;
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
}

#nav ul li:hover {
    background: url("../../media/images/nav_background2_hover_1.png") repeat-x;
    background-color: #FFB733; 
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
}
/*                                          
#nav ul li:hover:last-child {
    padding-left: 13px;
    padding-right: 13px;
}
*/
#nav ul li:hover a {
    color: #B73200;
    text-decoration: underline;
}

#primary {
    margin-top: 0;
}

.header-icon {
    height: 14px; width: 14px;
    padding: 0 3px;
}

.share {
    padding: 10px 5px;
    float: right;
}

#share-btn {
    display: inline;
}

.share-text {
    font-size: 11pt;
    font-weight: bold;
    float: left;
    padding-right: 2px;
}

#footer {
    clear: both;
}

#footer .footer-content {
    background: url("../../media/images/baophuoc_footer.png") repeat-x;
    border-top: 1px solid #DD8000; 
    height: 154px;
    width: 1000px;
}

.contact {
    border-right: 1px dotted #DFA800;
    width: 230px;
}

.contact .contact-header {
    background: url("../../media/images/nav_background.png") repeat-x;
    border-bottom: 1px solid #DD8000; 
    text-align: center;
    height: 43px; width: 230px;
}

.contact .contact-header h3 {
    color: #EC4100;
    font-size: 15pt;
    padding: 8px;
    text-shadow: 1px 1px #000000;
}

.contact ul {
    font-size: 10pt;
    list-style-type: none;
    padding: 3px 20px;
    margin-left: 5px;
}

.contact ul li a {
    color: #B72D00;
    text-decoration: none;
}

.contact ul li a:hover {
    color: #EC4100;
    text-decoration: underline;
}

.direction {
    font-size: 7pt;
    font-weight: bold;
}

#footer .copyright {
    background: url("../../media/images/nav_background.png") repeat-x;
    border-top: 2px solid #DD8000; 
    font-size: 10pt;
    padding: 10px;
    text-align: center;
}