/* thongtin-sidebar.css */
#right-sidebar {
    background-color: #F7F7F7;
    border: 1px solid #D8D8D8;
    border-bottom: none;
    border-radius: 5px;
    float: right;
    margin-top: 1px;
    width: 250px;
}

#right-sidebar .sidebar-container {
    margin-bottom: 1px;
}

#right-sidebar h3.sidebar-header {
    background: url("../../media/images/nav_background.png") repeat-x;
    border: 1px solid #DD8000;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #EC4100;
    text-align: center;
    text-shadow: 1px 1px #000000;
    padding: 10px 0;
    margin-left: -1px;
    width: 250px;
}

#right-sidebar #top-news {
    border-bottom: 1px solid #D8D8D8;
    height: 100%;
}

#right-sidebar h3#thongtin-moichapnhat {
    margin-top: 100px;
}

#right-sidebar #top-news ul  {
    list-style-type: none;
    height: 150px !important;
    overflow: hidden;
}

#right-sidebar #top-news ul li,
#right-sidebar #new-update ul li,
#right-sidebar #lienket ul li {
    border-bottom: 1px dotted #CDCDCD;
    color: #1A1A1A;
    padding: 5px 0 5px 35px;
}

#right-sidebar #top-news ul li:hover,
#right-sidebar #new-update ul li:hover,
#right-sidebar #lienket ul li:hover {
    background-color: #EBEBEB;
}

#right-sidebar #top-news ul li a, 
#right-sidebar #new-update ul li a,
#right-sidebar #lienket ul li a {
    color: #1A1A1A;
    font-size: 9pt;
    font-weight: normal;
    margin-left: -10px;
    text-decoration: none;
}

#right-sidebar #top-news ul li:hover,
#right-sidebar #top-news ul li a:hover,
#right-sidebar #new-update ul li:hover,
#right-sidebar #new-update ul li a:hover,
#right-sidebar #lienket ul li:hover, 
#right-sidebar #lienket ul li a:hover {
    color: #DE0E0E;
    text-decoration: underline;
}

#right-sidebar #new-update {
    border-bottom: 1px solid #D8D8D8;
    height: auto;
}
